@model TestFileStream.Entity.Members

@{
    ViewBag.Title = "DetailsReportPerUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    TestFileStream.Entity.Members members = new TestFileStream.Entity.Members();
    members = ViewBag.MEMBER;   
}
<div class="panel panel-primary" style="margin: 0 auto; max-width: 800px; min-width: 300px">
    <div class="panel-heading">
        <h2>Details Report Of Members</h2>
    </div>
    <div class="panel-body">

        <div id="left" style="">
            @using (Html.BeginForm())
            {
                <ul style="list-style-type: none; margin-left: 0px">
                     @Html.DropDownList("Members", "Select A User")
                    <br />
                    <li style="display: inline"><input style="display: inline" type="date" id="Fdate" name="Fdate" placeholder="From Date" /></li>
                    <li style="display: inline"><input style="display: inline" type="date" id="Tdate" name="Tdate" placeholder="To Date"/></li>
                    <li style="display: inline">
                        <input style="display: inline" class="btn btn-primary" type="submit" value="Generate User" />
                    </li>
                </ul>
            }
        </div>

        <div id="right">
            @if (ViewBag.MEMBER != null)
            {
                <h2 style="color: white">Details Report Per User</h2>
                <hr />
                <table class="table table-bordered table-condensed">

                    <tr>
                        <th>Member Name 
                        </th>
                        <th>Contact Number  
                        </th>
                        <th>Deposit 
                        </th>
                        <th>Bazar Cost
                        </th>
                        <th>Meal Count
                        </th>
                        <th>Current Meal Rate 
                        </th>
                        <th>Total Cost For Meal
                        </th>
                        <th>Remain Tk 
                        </th>
                        <th>Meal Can Eat
                        </th>
                    </tr>
                    <tr>
                        <td>@members.FName</td>
                        <td>@members.Contact</td>
                        <td>@ViewBag.DEPOSITAMOUNTBYPERSON</td>
                        <td>@ViewBag.TOTALBAZARCOST</td>
                        <td>@ViewBag.MEALCOUNTBYPERSON</td>
                        <td>@ViewBag.MEALRATE</td>
                        <td>@ViewBag.COSTFORMEAL </td>
                        <td>@ViewBag.REMAIN</td>
                        <td>@ViewBag.APPMEALCANEAT</td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Fdate").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#Tdate").datepicker({ dateFormat: 'dd/mm/yy' });
    });
</script>
