@model TestFileStream.Entity.Deposit

@{
    ViewBag.Title = "DeleteDeposit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary" style="margin: 0 auto; max-width: 700px; min-width: 300px">
    <div class="panel-heading">
        <h2>Are you sure you want to delete this?</h2>
    </div>
    <div class="panel-body">
        <div id="right" style="min-width: 300px">
            <table class="table table-bordered table-condensed">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DepositDate)</th>
                    <th>@Html.DisplayNameFor(model => model.MonthName)</th>
                    <th>@Html.DisplayNameFor(model => model.DepositAmmount)</th>

                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.DepositDate)</td>
                    <td>@Html.DisplayFor(model => model.MonthName)</td>
                    <td>@Html.DisplayFor(model => model.DepositAmmount)</td>

                </tr>
            </table>

            @using (Html.BeginForm())
            {
                <p>
                    <input class="btn btn-primary" type="submit" value="Delete" />
                    |
        <button class="btn btn-default"> <a href="@Html.Action("ViewDepositList")">Back</a></button>
                </p>
            }
        </div>
    </div>
</div>

